<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Me - Andrew Scott Bonner - Developer</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
  </head>
  <body>
    {{> navigation}}
    <div class="">
      <h1>A little more about me...</h1>
      <p>
        I was never your typical librarian. From the beginning of my information science career, I became deeply interested in web development and software engineering, searching for ways to better connect users with the data and information they were seeking.
      </p>
      <p>
        Simple HTML and CSS pages were my introduction to web development and my first interactions with programming. Then came Python and Object Oriented Programming. From there my world just exploded into JavaScript, Ruby on Rails, and JavaScript frameworks, until I arrived here: a full stack web developer.
      </p>
      <p>
        Right now I am library assistant at the University of Notre Dame, hoping to transition into a full time software engineering career.
      </p>
    </div>
    {{> footer}}
  </body>
</html>
