<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>About Me - Andrew Scott Bonner - Developer</title>
    <!-- <link rel="stylesheet" href="/css/stylesheet.css"> -->
    <link rel="stylesheet" media="all and (min-width: 0px) and (max-width: 425px)" href="/css/mobile.css">
    <link rel="stylesheet" media="all and (min-width: 426px) and (max-width: 768px)" href="/css/tablet.css">
    <link rel="stylesheet" media="all and (min-width: 769px) and (max-width: 1024px)" href="/css/small-laptop.css">
    <link rel="stylesheet" media="all and (min-width: 1025px) and (max-width: 1440px)" href="/css/laptop.css">
    <link rel="stylesheet" media="all and (min-width: 1441px) and (max-width: 2299px)" href="/css/desktop.css">
    <link rel="stylesheet" media="all and (min-width: 2300px)" href="/css/large-desktop.css">
  </head>
  <body id="bio-page">
    {{> navigation}}
    <div class="bio-image">
      <img src="/images/BrennenAndrew.png" alt="Andrew">
    </div>
    <div class="col-1 special">
      <h1 class="italic">About the Developer</h1>
      <p>
        I was never your typical librarian. From the beginning of my information science career, I became deeply interested in web development and software engineering, searching for ways to better connect users with the information and data they seek.
      </p>
      <p>
        Simple HTML and CSS pages were my introduction to web development and my first interactions with programming. Then came Python and Object Orientation. Now, along with Python, HTML, and CSS, I hold extensive experience in JavaScript, Ruby on Rails, and many JavaScript frameworks, until I arrived here: a full stack web developer.
      </p>
      <p>
        Right now I am library assistant at the University of Notre Dame, hoping to transition into a full time software engineering career.
      </p>
    </div>
    {{> footer}}
  </body>
</html>
