<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About Me - Andrew Scott Bonner - Developer</title>
  </head>
  <body>
    {{> navigation}}
    <article class="">
      <h1>Here's a little about me:</h1>
    </article>
    {{> footer}}
  </body>
</html>
