<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact Me - Andrew Scott Bonner - Developer</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
  </head>
  <body id="contacts-page">
    {{> navigation}}
    <div id="header">
      <h1 class="name"><span>C</span>ONTACT M<span>E</span></h1>
    </div>
    <div class="contact-form">
      <form class="" action="index.html" method="post">
        <div class="contact-info">
          <input type="text" name="name" placeholder="Name">
          <input type="text" name="email" placeholder="Email">
        </div>
        <div class="subject">
          <input type="text" name="subject" placeholder="Subject">
        </div>
        <div class="message">
          <textarea type="textarea" name="message" placeholder="Message"></textarea>
        </div>
        <div class="send-button">
          <button type="submit" name="send">Send</button>
        </div>
      </form>
      <!-- Must fix alternate text and add caption -->
      <img class="contact-image" src="images/dorrit-2.png" alt="Little Dorrit">
    </div>
    {{> footer}}
  </body>
</html>
