<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Andrew Scott Bonner - Developer</title>
  </head>
  <body>
    {{> navigation}}
    <article class="">

    </article>
    {{> footer}}
  </body>
</html>
