<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Andrew Scott Bonner - Developer</title>
    <!-- <link rel="stylesheet" href="/css/stylesheet.css"> -->
    <link rel="stylesheet" media="all and (min-width: 0px) and (max-width: 425px)" href="/css/mobile.css">
    <link rel="stylesheet" media="all and (min-width: 426px) and (max-width: 768px)" href="/css/tablet.css">
    <link rel="stylesheet" media="all and (min-width: 769px) and (max-width: 1024px)" href="/css/small-laptop.css">
  </head>
  <body id="main-page">
    {{> navigation}}
    <div class="header">
      <p class="blurb">Hello, my name is Andrew. I am a Full Stack Developer. If you want to learn a little more about me and see what I've been working on <a href="/about">click here</a>.</p>
      <div class="social">
        <ul>
          <li>
            <div class="github-icon">
              <a href="https://github.com/abonner1/"><img class="github" src="https://i.imgur.com/di8aI58.png" alt="Github"></a>
              <a href="https://github.com/abonner1/"><img class="github-red" src="https://i.imgur.com/EkcJJgw.png" alt="Github"></a>
            </div>
          </li>
          <li>
            <div class="twitter-icon">
              <a href="https://twitter.com/AndrewBonner2"><img class="twitter" src="https://i.imgur.com/Y9NvZMU.png" alt="Twitter"></a>
              <a href="https://twitter.com/AndrewBonner2"><img class="twitter-red" src="https://i.imgur.com/ftYdEER.png" alt="Twitter"></a>
            </div>
          </li>
          <li>
            <div class="linkedin-icon">
              <a href="https://www.linkedin.com/in/andrewbonner2/"><img class="linkedin" src="https://i.imgur.com/gR1XStb.png" alt="LinkedIn"></a>
              <a href="https://www.linkedin.com/in/andrewbonner2/"><img class="linkedin-red" src="https://i.imgur.com/d5gRqMk.png" alt="LinkedIn"></a>
            </div>
          </li>
          <li>
            <div class="medium-icon">
              <a href="https://medium.com/@AndrewBonner2"><img class="medium" src="https://i.imgur.com/ZORUXsS.png" alt="Medium"></a>
              <a href="https://medium.com/@AndrewBonner2"><img class="medium-red" src="https://i.imgur.com/rCE5WBV.png" alt="Medium"></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="icons">
      <p></p>

    </div>
    <div class="cover-image">
      <img src="/images/pickwick.png" alt="pickwick">
    </div>
    {{> footer}}
  </body>
</html>
