<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Andrew Scott Bonner - Developer</title>
  </head>
  <body>
    {{> navigation}}
    <article class="">
      <h1>Hey, I'm Andrew!</h1>
      <p>Full Stack Developer & Software Engineer</p>
      <p>If you want to learn a little more about me and see what I've been working on click <a href="/about">here</a>.</p>
      <p>Contact me <a href="/contact">here</a>.</p>
      <div class="">
        <ul>
          <a href="#">Github</a>
          <a href="#">Twitter</a>
          <a href="#">LinkedIn</a>
        </ul>
      </div>
    </article>
    {{> footer}}
  </body>
</html>
