<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Andrew Scott Bonner - Developer</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
  </head>
  <body>
    {{> navigation}}
    <div id="welcome">
      <h1><span>Hi,</span><span> I'm Andrew, </span>Full Stack Developer!</h1>
    </div>
    <div class="blurb">
      <p>If you want to learn a little more about me and see what I've been working on click <a href="/about">here</a>.</p>
      <p>Contact me <a href="/contact">here</a>.</p>
      <div class="blurb">
        <ul>
          <li><a href="https://github.com/abonner1/">Github</a></li>
          <li><a href="https://twitter.com/AndrewBonner2">Twitter</a></li>
          <li><a href="https://www.linkedin.com/in/andrewbonner2/">LinkedIn</a></li>
          <li><a href="https://medium.com/@AndrewBonner2">Blog</a></li>
        </ul>
      </div>
    </div>
    {{> footer}}
  </body>
</html>
