<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects - Andrew Scott Bonner - Developer</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
  </head>
  <body id="projects-page">
    {{> navigation}}
    <h1 class="title">Projects of the Author</h1>
    <div class="col-1">
      <h2><a href="https://github.com/abonner1/sorter">Sorter</a></h2>
      <p>Created with Ruby on Rails Framework. Utilizes MVC architecture. Powered by an ActiveRecord database with complex associations and validations. Authenticates and registers users with OAuth and Devise. Manipulates the DOM with JavaScript and jQuery. Tested with Rspec. Styled with custom CSS and Twitter Bootstrap framework.</p>
      <h2><a href="https://github.com/abonner1/tripadvisor-choice-cli-gem">TripAdvisor Best</a></h2>
      <p>Built in pure Ruby for the Command Line. Uses data scraper on TripAdvisor’s web pages to deliver content. Prints content to CLI. Contains interactive CLI menu to customize data results. Designed with Object Oriented Programming principles. Deployed to Rubygems.org using Bundler.</p>
    </div>
    <img class="projects-image" src="images/pickwick-2.png" alt="pickwick">
    <div class="col-2">
      <h2><a href="https://github.com/abonner1/todo-list-client">TodoList</a></h2>
      <p>Constructed with React.js library. Backed by a Ruby on Rails API. Utilizes RESTful routing. Manages state for both synchronous and asynchronous actions with Redux. Controls nested routes with React Router. Registers and authenticates users with isometric-fetch and JSON Web Tokens (JWT).</p>
      <h2><a href="https://github.com/abonner1/bookster">Bookster</a></h2>
      <p>Built in Ruby and the Sinatra framework. Handles nested routes and nested routes. Engineered with MVC architecture. Powered by an ActiveRecord database with complex associations and validations. Contains custom user authentication and authorization system. Utilizes nested forms.</p>
    </div>
    {{> footer}}
  </body>
</html>
