<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Skills - Andrew Scott Bonner - Developer</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
  </head>
  <body id="skills-page">
    {{> navigation}}
    <div class="skills-image">
      <img src="/images/dorrit.png" alt="Little Dorrit">
    </div>
    <div class="col-2 special-2">
      <h1 class="italic">Skills & Experiences</h1>
      <p>I work mainly within full stack development. HTML, CSS, JS (ES5 and ES6), Ruby on Rails, building web applications, building web API's, React.js, Angular.js, and Node.js. When it comes to languages, I've worked in Ruby, Python, and JavaScript.</p>
      <p>As I full stack developer, I have MEAN (MongoDB, Express.js, Angular.js, and Node.js) capabilities. Although, I love learning new technologies, so if you don't see it listed here, it doesn't mean I can't learn it.</p>
      <p>Want to know more? Check out my <a href="https://www.linkedin.com/in/andrewbonner2/">LinkedIn</a> profile.</p>
    </div>
    {{> footer}}
  </body>
</html>
