<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Skills - Andrew Scott Bonner - Developer</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
  </head>
  <body id="skills-page">
    {{> navigation}}
    <div class="blurb-reg">
      <h1>Skills & Experiences</h1>
      <p>My main area of expertise is full stack development. HTML, CSS, JS (ES5, ES6), Ruby on Rails, building web applications, building web API's, React.js, Angular.js, and Node.js. When it comes to languages I've worked in Ruby, Python, and JavaScript.</p>
      <p>As I full stack developer, I'm capabale of working in a MEAN (MongoDB, Express.js, Angular.js, and Node.js) environment. Although, I love learning new technologies, so if you don't see it listed, it doesn't mean I can't learn it.</p>
      <p>Want to know more? Check out my <a href="https://www.linkedin.com/in/andrewbonner2/">LinkedIn</a> profile or just <a href="/contact">contact</a> me.</p>
    </div>
    {{> footer}}
  </body>
</html>
