@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i');

body {
  background-color: #E8E8E8;
  font-family: 'EB Garamond', serif;
}

/* NAVIGATION */

#navbar {
  margin: 0 0 0 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
  background-color: #E7E7E7;
  position: fixed;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

#navbar ul {
  list-style: none;
  text-align: center;
}

#navbar ul li {
  display: inline-block;
  width: 10%;
  padding: 15px 5px 5px 5px;
}

#navbar a {
  color: black;
  text-decoration: none;
  font-size: 14pt;
}

#navbar a:hover {
  color: red;
}

* {
  margin: 0;
  padding: 0;
}

/* LINK STYLES */

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: red;
}

/* TITLE STYLES */

div.header {
  padding: 75px 200px 0 0;
  float: right;
  text-align: center;
  font-size: 20pt;
  width: auto;
}

h2.author {
  padding: 20px 0;
  font-style: italic;
}

h2 span {
  font-size: 18pt;
}

h1.title {
  padding: 100px 0 0 0;
  text-align: center;
}

/* TEXT STYLES */

div.blurb {
  padding: 75px 200px 0 0;
  float: right;
  clear: both;
  text-align: center;
  width: auto;
}

div.col-1, div.col-2 {
  padding: 75px 25px 0 25px;
  display: inline-block;
  text-align: center;
}

div.col-1 {
  float: left;
  width: 300px;
  margin-left: 25px;
}

div.col-2 {
  float: right;
  width: 300px;
  margin-right: 25px;
}

div.col-1 p, div.col-2 p {
  padding: 15px 0;
}

/* ALTERNATIVE TEXT STYLES */
div.blurb-reg {
  margin-top: 150px;
  padding: 75px 200px 0 0;
  float: right;
  text-align: center;
  width: 25%;
}

div.blurb-other {
  margin-top: 150px;
  padding: 75px 0 0 200px;
  text-align: center;
  float: left;
  width: 25%;
}

div.blurb-other h1, div.blurb-other p, div.blurb-reg h1, div.blurb-reg p {
  padding: 0 0 15px 0;
}

/* IMAGE STYLES */

div.cover-image {
  padding: 60px 0 0 125px;
}

div.cover-image img {
  height: 700px;
  width: auto;
}

div.bio-image {
  float: right;
  margin-top: 150px;
}

div.bio-image img {
  height: 500px;
  width: auto;
  padding: 0 200px 0 0 ;
}

.contact-image {
  height: auto;
  width: 575px;
}

img.skills-image {
  float: left;
  height: auto;
  width: 800px;
  margin-top: 150px;
  margin-left: 15px;
}

img.projects-image {
  height: auto;
  width: 500px;
  padding: 25px 50px 0 100px;
  display: inline-block;
}

/* SOCIAL ICONS */
div.social {
  text-align: center;
}

.social ul {
  list-style-type: none;
  margin: 25px 0;
}

.social ul li {
  display: inline-block;
  padding: 0 5px 0 0;
}

.social img {
  height: 35px;
  width: auto;
}

.social li:last-child img {
  height: 28px;
  padding: 0 0 4px;
}

/* CONTACT FORM*/
div#header h1 {
  padding: 100px 0 0 0;
  text-align: center;
}

.contact-form {
  max-width: 575px;
  margin: 25px auto;
}

input, textarea {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 3px 5px;
  font-size: 12pt;
  font-family: 'EB Garamond', serif;
}

input, textarea {
  border-color: black;
  color: black;
}

input {
  border-width: thin;
}

.contact-form div.contact-info input {
  display: inline-block;
  width: 47.18%;
  height: 30px;
}

.contact-form div.subject input {
  width: 97.5%;
}

div.message textarea {
  width: 98%;
}

div.subject input {
  height: 30px;
}

div.message textarea {
  height: 100px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
    font-size: 12pt;
    padding: 3px 5px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    black;
    font-size: 12pt;
    padding: 3px 5px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    black;
    font-size: 12pt;
    padding: 3px 5px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    black;
    font-size: 12pt;
    padding: 3px 5px;
}

.send-button button {
  background-color: white;
  border-radius: 5px;
  border-color: white;
  color: black;
  font-size: 14pt;
  padding: 5px;
  font-family: 'EB Garamond', serif;
}

.send-button button:hover {
  background-color: #C0C3BF;
  border-color: #C0C3BF;
}

/* FOOTER STYLE */
#footer {
  font-size: 15pt;
  text-align: right;
  position: fixed;
  width: 100%;
  bottom: 20px;
  right: 50px;
}

#footer img {
  height: 12px;
  width: auto;
}
