@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i');

body {
  background-color: #E8E8E8;
  font-family: 'EB Garamond', serif;
}

/* NAVIGATION */

#navbar {
  margin: 0;
  width: 100%;
  height: 60px;
  overflow: hidden;
  background-color: #E7E7E7;
  position: fixed;
  -webkit-box-shadow: 0 3px 6px #999;
  -moz-box-shadow: 0 3px 6px #999;
  box-shadow: 0 3px 6px #999;
}

#navbar ul {
  list-style: none;
  text-align: center;
}

#navbar ul li {
  display: inline-block;
  width: 10%;
  padding: 15px 5px 5px 5px;
}

#navbar a {
  color: black;
  text-decoration: none;
  font-size: 14pt;
}

#navbar a:hover {
  color: red;
}

* {
  margin: 0;
  padding: 0;
}

/* LINK STYLES */

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: red;
  transition: 0.5s;
  -webkit-transition: color 0.5s;
  -moz-transition:    color 0.5s;
}

/* TITLE STYLES */

div.header {
  padding: 250px 100px 0 0;
  float: right;
  text-align: justify;
  width: 700px;
}

div.header p {
  font-size: 25pt;
}

p.blurb {
  padding: 20px 0;
  font-style: italic;
}

h1.title {
  padding: 100px 0 0 0;
  text-align: center;
}

h1.italic {
  font-style: italic;
}

/* TEXT STYLES */

div.col-1, div.col-2 {
  padding: 70px 25px 0 25px;
  /*display: inline-block;*/
  text-align: justify;
}

div.col-1 {
  float: left;
  width: 300px;
  margin-left: 25px;
}

div.col-2 {
  float: right;
  width: 300px;
  margin-right: 25px;
}

div.col-1 p, div.col-2 p {
  padding: 15px 0;
}

/* ALTERNATIVE TEXT STYLES */
div.col-1.special {
  margin-top: 100px;
  padding: 75px 0 0 200px;
  width: 25%;
}

div.col-2.special-2 {
  margin-top: 150px;
  padding: 25px 125px 0 0;
  width: 25%;
}

/* IMAGE STYLES */

div.cover-image {
  padding: 60px 0 0 125px;
}

div.cover-image img {
  height: 700px;
  width: auto;
}

div.bio-image {
  float: right;
  margin-top: 150px;
}

div.bio-image img {
  height: 500px;
  width: auto;
  padding: 0 200px 0 0 ;
}

.contact-image {
  height: auto;
  width: 575px;
}

div.skills-image img {
  float: left;
  height: auto;
  width: 700px;
  margin-top: 150px;
  margin-left: 50px;
}

div.projects-image {
  height: auto;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

div.projects-image img {
  width: 450px;
  height: auto;
}

/* SOCIAL ICONS */
div.social {
  text-align: center;
}

.social ul {
  list-style-type: none;
  margin: 25px 0;
}

.social ul li {
  display: inline-block;
  padding: 0 5px 0 0;
}

.social img {
  height: 35px;
  width: auto;
}

.social img.medium, .social img.medium-red {
  height: 28px;
  padding: 0 0 4px;
}

/* GITHUB */
div.github-icon {
  position: relative;
}

div.github-icon img.github {
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

div.github-icon img.github:hover {
  opacity: 0;
}

img.github-red:hover {
  opacity: 1;
}

div.twitter-icon {
  position: relative;
}

/* TWITTER */
div.twitter-icon img.twitter {
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

div.twitter-icon img.twitter:hover {
  opacity: 0;
}

img.twitter-red:hover {
  opacity: 1;
}

/* LINKEDIN */
div.linkedin-icon {
  position: relative;
}

div.linkedin-icon img.linkedin {
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

div.linkedin-icon img.linkedin:hover {
  opacity: 0;
}

img.linkedin-red:hover {
  opacity: 1;
}

/* MEDIUM */
div.medium-icon {
  position: relative;
}

div.medium-icon img.medium {
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

div.medium-icon img.medium:hover {
  opacity: 0;
}

img.medium-red:hover {
  opacity: 1;
}

/* CONTACT FORM*/
div#header h1 {
  padding: 100px 0 0 0;
  text-align: center;
}

.contact-form {
  max-width: 575px;
  margin: 25px auto;
}

input, textarea {
  background-color: white;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 3px 5px;
  font-size: 18pt;
  font-family: 'EB Garamond', serif;
}

input, textarea {
  border-color: black;
  color: black;
}

input {
  border-width: thin;
}

.contact-form div.contact-info input {
  display: inline-block;
  width: 47.6%;
  height: 45px;
}

.contact-form div.subject input {
  width: 98%;
}

div.message textarea {
  width: 98%;
}

div.subject input {
  height: 45px;
}

div.message textarea {
  height: 200px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    black;
    font-size: 18pt;
    padding: 3px 5px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    black;
    font-size: 18pt;
    padding: 3px 5px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    black;
    font-size: 18pt;
    padding: 3px 5px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    black;
    font-size: 18pt;
    padding: 3px 5px;
}

.send-button button {
  background-color: white;
  border-radius: 5px;
  border-color: white;
  color: black;
  padding: 5px;
  width: 75px;
  font-size: 18pt;
  font-family: 'EB Garamond', serif;
}

.send-button button:hover {
  background-color: red;
  border-color: red;
  color: white;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
}

/* FOOTER STYLE */
#footer {
  font-size: 15pt;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 20px;
}

#footer img {
  height: 12px;
  width: auto;
}

/* RESPONSIVE DESIGN */

@media (max-width: 1400px) {
  div.projects-image {
    display: none;
  }

  div.col-1, div.col-2 {
    float: none;
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 500px;
  }

  div.col-2.special-2 {
    margin: 0 auto;
    padding: 0;
    width: 600px;
  }

  div.skills-image {
    width: 600px;
    margin: 0 auto;
  }

  div.skills-image img {
    width: 600px;
    height: auto;
  }

  div.col-1.special {
    margin: 0 auto;
    width: 600px;
    padding: 15px 0 0 0;
  }

  div.bio-image {
    float: none;
    margin: 0 auto;
    width: 400px;
  }

  div.bio-image img {
    width: 400px;
    height: auto;
    padding: 100px 0 0 0;
  }

  div.cover-image {
    display: none;
  }

  div.header {
    float: none;
    padding: 0;
    margin: 10px auto;
    width: 700px;
  }

  .contact-form div.contact-info input, .contact-form div.subject input, div.message textarea {
    width: 98%;
  }

  #navbar ul li {
    width: 15%;
  }
}
